@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.h1 {
    margin-bottom: 0;
}

* {
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    scroll-behavior: smooth;
}
.head {
    margin-bottom: 0;
    padding: 0;
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(245, 58, 58, 1) 0%,
        rgba(219, 114, 114, 1) 23.7%,
        rgba(148, 39, 228, 1) 60.3%,
        rgba(224, 77, 77, 1) 92.9%
    );
    text-align: center;
    color: black;
    font-family: "Alatsi";
}
body {
    min-height: 100vh;
}
nav {
    background: #1b1b1b;
    width: 100%;
}
nav:after {
    content: "";
    clear: both;
    display: table;
}
nav ul {
    list-style: none;
    position: relative;
    align-items: center;
}
nav ul li {
    display: inline-block;
    margin: 0 5px;
    color: #ffffff;
}
nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    padding: 8px 15px;
    text-align: center;
}

nav ul li a:hover {
    color: red;
}
/*.name
{
  color: white;
}*/

nav .active-change {
    z-index: 999999;
    background-color: snow;
}
/*nav.dropdown-item:hover{
  background-color: black;
  color:white;
}*/

.active-change:active {
    color: #fff;
    text-decoration: none;
    background-color: #ffffff;
}

.click-btn:hover {
    border-radius: 5px;
    border-bottom: 3px solid black;
    cursor: pointer;
    background-color: white;
}

nav ul ul {
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
}
nav ul :hover > ul {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

nav ul ul li {
    /* background-color: #1b1b1b; */
    position: relative;
    margin: 0px;
    /* width: 200px; */
    float: none;
    display: list-item;
    border-bottom: 1px solid;
}

.range-input {
    background: #ffffff;
    -webkit-appearance: none;
    height: 2px;
    outline: none;
    border-radius: 2px;
    z-index: 1;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}
.range-input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}
